html body{
    width: 1430px;
}

h2{
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 100px 175px 0px 100px;
    color: #8B0100;
}

p{
    color: #8B0100;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 175px 0px 100px;

}

h3{
    text-align: right;
    padding: 0px 490px 0px 100px;
}

form{
    align-items: center;
    justify-content: center;
    padding: 0px 175px 0px 100px;
}

p2{
    color: red;
}

div{
    text-align: center;
}

button {
    background-color: #596BA4;
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px 100px 0px 100px;
    transition-duration: 0.4s;
    cursor: pointer;
}

h4{
    text-align: center;
}

