<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Home Page </title>
    <link href="../static/index.css" type="text/css" rel="stylesheet" />
</head>

<h2>Blood Pressure Predictor</h2>
<p>Fill out the form to get your Blood Pressure estimate! </p>

<form action="/" method="POST">

    <h3>Age<p2> *</p2> <input name="age" type="number" placeholder="Enter age in years" value="" required> </h3>
    <h3>Weight<p2> *</p2> <input name="weight" type="number" placeholder="Enter weight in kg" value="" required> </h3>

    <div>
        <button  type="submit"> Calculate </button>
    </div>

    <p> {{ result }} </p>


</form>





</body>
</html>