html body{
    /*margin: 0;*/
    /*padding: 0;*/
    /*font-size: 100%;*/
    /*vertical-align: baseline;*/
    /*border: 0;*/
    /*font-family: Arial,sans-serif;*/
    background-color: black;
    width: 1430px;
    font-family: 'Comfortaa', sans-serif;
    border-top: 1px solid darkred

}

header{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center
}

header h1{
    color: white;
}

header a{
    color: white;
    text-shadow: 2px 0px 1px coral;
    align-items: center;
    justify-content: center;
    padding-right: 110px;
    text-decoration: none



}

header a:hover{
    color: coral;
    text-shadow: 2px 0px 1px white;
    font-family: 'Comfortaa', sans-serif;
}

/*header a:active{*/
    /*color: coral;*/
    /*font-family: 'Comfortaa', sans-serif;*/
    /*text-shadow: 2px 0px 1px white*/

/*}*/

.image-box {
    background: var(--image-url) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 83%;
    color: coral;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    text-shadow: 2px 0px 1px white;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center

}